src/.vs/
src/*/bin/
src/*/obj/
src/Tests/nGrpc.IntegrationTest/bin/
src/Tests/nGrpc.IntegrationTest/obj/
src/Tests/nGrpc.UnitTests/bin/
src/Tests/nGrpc.UnitTests/obj/
src/Services/*/bin/
src/Services/*/obj/
unity client/Library/
unity client/Logs/
unity client/Temp/
*.csproj
unity client/Unity.sln
unity client/.vs/
unity client/obj/
unity client/Assets/nGrpc.Client/
